<div id="row1" class="row">
    <div id="case1" class="or">1</div>
    <div id="case2" class="or">2</div>
    <div id="case3" class="or">3</div>
    <div id="case4" class="or">4</div>
    <div id="case5" class="or">5</div>
    <div id="case6" class="or">6</div>
    <div id="case7" class="or">7</div>
    <div id="case8" class="or">8</div>  
</div>
<div id="row2" class="row">
    <div id="case9" class="or">9</div>
    <div id="case10" class="or">10</div>
    <div id="case11" class="or">11</div>
    <div id="case12" class="or">12</div>
    <div id="case13" class="or">13</div>
    <div id="case14" class="or">14</div>
    <div id="case15" class="or">15</div>
    <div id="case16" class="or">16</div>  
</div>
<div id="row3" class="row">
    <div id="case17" class="or">17</div>
    <div id="case18" class="or">18</div>
    <div id="case19" class="or">19</div>
    <div id="case20" class="or">20</div>
    <div id="case21" class="or">21</div>
    <div id="case22" class="or">22</div>
    <div id="case23" class="or">23</div>
    <div id="case24" class="or">24</div>  
</div>
<div id="row4" class="row">
    <div id="case25" class="or">25</div>
    <div id="case26" class="or">26</div>
    <div id="case27" class="or">27</div>
    <div id="case28" class="or">28</div>
    <div id="case29" class="or">29</div>
    <div id="case30" class="or">30</div>
    <div id="case31" class="or">31</div>
    <div id="case32" class="or">32</div>  
</div>
<div id="row5" class="row">
    <div id="case33" class="or">33</div>
    <div id="case34" class="or">34</div>
    <div id="case35" class="or">35</div>
    <div id="case36" class="or">36</div>
    <div id="case37" class="or">37</div>
    <div id="case38" class="or">38</div>
    <div id="case39" class="or">39</div>
    <div id="case40" class="or">40</div>  
</div>
<div id="row6" class="row">
    <div id="case41" class="or">41</div>
    <div id="case42" class="or">42</div>
    <div id="case43" class="or">43</div>
    <div id="case44" class="or">44</div>
    <div id="case45" class="or">45</div>
    <div id="case46" class="or">46</div>
    <div id="case47" class="or">47</div>
    <div id="case48" class="or">48</div>  
</div>
<div id="row7" class="row">
    <div id="case49" class="or" droppable (onDrop)="onItemDrop($event,49)"><div *ngIf="flagPlay == false">{{draggeditem[49]}}</div><div *ngIf="flagPlay" (click)="moveUnit(49)">{{draggeditem[49]}}</div></div>
    <div id="case50" class="or" droppable (onDrop)="onItemDrop($event,50)"><div *ngIf="flagPlay == false">{{draggeditem[50]}}</div><div *ngIf="flagPlay" (click)="moveUnit(50)">{{draggeditem[50]}}</div></div>
    <div id="case51" class="or" droppable (onDrop)="onItemDrop($event,51)"><div *ngIf="flagPlay == false">{{draggeditem[51]}}</div><div *ngIf="flagPlay" (click)="moveUnit(51)">{{draggeditem[51]}}</div></div>
    <div id="case52" class="or" droppable (onDrop)="onItemDrop($event,52)"><div *ngIf="flagPlay == false">{{draggeditem[52]}}</div><div *ngIf="flagPlay" (click)="moveUnit(52)">{{draggeditem[52]}}</div></div>
    <div id="case53" class="or" droppable (onDrop)="onItemDrop($event,53)"><div *ngIf="flagPlay == false">{{draggeditem[53]}}</div><div *ngIf="flagPlay" (click)="moveUnit(53)">{{draggeditem[53]}}</div></div>
    <div id="case54" class="or" droppable (onDrop)="onItemDrop($event,54)"><div *ngIf="flagPlay == false">{{draggeditem[54]}}</div><div *ngIf="flagPlay" (click)="moveUnit(54)">{{draggeditem[54]}}</div></div>
    <div id="case55" class="or" droppable (onDrop)="onItemDrop($event,55)"><div *ngIf="flagPlay == false">{{draggeditem[55]}}</div><div *ngIf="flagPlay" (click)="moveUnit(55)">{{draggeditem[55]}}</div></div>
    <div id="case56" class="or" droppable (onDrop)="onItemDrop($event,56)"><div *ngIf="flagPlay == false">{{draggeditem[56]}}</div><div *ngIf="flagPlay" (click)="moveUnit(56)">{{draggeditem[56]}}</div></div>  
</div>
<div id="row8" class="row">
    <div id="case57" class="or" droppable (onDrop)="onItemDrop($event,57)"><div *ngIf="flagPlay == false">{{draggeditem[57]}}</div><div *ngIf="flagPlay" (click)="moveUnit(57)">{{draggeditem[57]}}</div></div>
    <div id="case58" class="or" droppable (onDrop)="onItemDrop($event,58)"><div *ngIf="flagPlay == false">{{draggeditem[58]}}</div><div *ngIf="flagPlay" (click)="moveUnit(58)">{{draggeditem[58]}}</div></div>
    <div id="case59" class="or" droppable (onDrop)="onItemDrop($event,59)"><div *ngIf="flagPlay == false">{{draggeditem[59]}}</div><div *ngIf="flagPlay" (click)="moveUnit(59)">{{draggeditem[59]}}</div></div>
    <div id="case60" class="or" droppable (onDrop)="onItemDrop($event,60)"><div *ngIf="flagPlay == false">{{draggeditem[60]}}</div><div *ngIf="flagPlay" (click)="moveUnit(60)">{{draggeditem[60]}}</div></div>
    <div id="case61" class="or" droppable (onDrop)="onItemDrop($event,61)"><div *ngIf="flagPlay == false">{{draggeditem[61]}}</div><div *ngIf="flagPlay" (click)="moveUnit(61)">{{draggeditem[61]}}</div></div>
    <div id="case62" class="or" droppable (onDrop)="onItemDrop($event,62)"><div *ngIf="flagPlay == false">{{draggeditem[62]}}</div><div *ngIf="flagPlay" (click)="moveUnit(62)">{{draggeditem[62]}}</div></div>
    <div id="case63" class="or" droppable (onDrop)="onItemDrop($event,63)"><div *ngIf="flagPlay == false">{{draggeditem[63]}}</div><div *ngIf="flagPlay" (click)="moveUnit(63)">{{draggeditem[63]}}</div></div>
    <div id="case64" class="or" droppable (onDrop)="onItemDrop($event,64)"><div *ngIf="flagPlay == false">{{draggeditem[64]}}</div><div *ngIf="flagPlay" (click)="moveUnit(64)">{{draggeditem[64]}}</div></div>  
</div>

<div class="row">
    <ul *ngIf="flagPlay == false">
        <li draggable *ngFor="let item of items" [dragData]="item">{{item.name}}</li>
    </ul>
</div>
<button (click)="startGame()">Ready!</button>
<button (click)="reloadGame()">Restart</button>